* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.main {
    max-width: 720px;
    margin: 5% auto 0;
}

.tab {
    position: relative;
}

.tab .line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 0;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    color: #c23564;
    font-size: 20px;
    min-width: 120px;
    padding: 16px 20px 16px 11px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-item:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
}

.nav-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

